/* Reset cơ bản */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background:white;
    color: #333;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color:white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    min-height: 700px;
    border: 1px solid #ddd;
}

/* Tiêu đề */
.form-title {
    text-align: center;
    color: #4a4a4a;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

/* Input Group */
.input-group {
    margin-bottom: 20px;
}

.input-group label {
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.input-wrapper i {
    position: absolute;
    left: 10px;
    color: #888;
}

.input-wrapper input,
.input-group select {
    width: 100%;
    padding: 10px 10px 10px 35px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    transition: all 0.3s ease;
}

.input-wrapper input:focus,
.input-group select:focus {
    outline: none;
    border-color: #74ebd5;
    box-shadow: 0 0 5px rgba(116, 235, 213, 0.5);
}

.input-group select {
    padding: 10px;
    color: #555;
}

/* Nút hành động */
.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;
    color: #fff;
}

.btn-save {
    background-color: #0f0f0f;
}

.btn-save:hover {
    background-color: #393a39;
}

.btn-cancel {
    background-color: #e74c3c;
}

.btn-cancel:hover {
    background-color: #c0392b;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
